@model SensorViewModel

<h2>Edit Sensor...</h2>


@using (Html.BeginForm("EditSensor", "Sensor", FormMethod.Post))
{
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Data Table Example
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="50%" cellspacing="0">

                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(m => m.Id)
                    <thead>
                        <tr>
                            <th>Label</th>
                            <th>Values</th>
                        </tr>
                        <tr><td>@Html.LabelFor(m => m.Name)</td></tr>
                        <tr>
                            <td>@Html.LabelFor(m => m.Description)</td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(m => m.Url)</td>
                            </tr>
                        <tr>
                            <td>@Html.LabelFor(m => m.PollingInterval)</td>
                            </tr>
                        <tr>
                            <td>@Html.LabelFor(m => m.IsValueType)</td>
                            </tr>
                        <tr>
                            <td>@Html.LabelFor(m => m.MeasurementType)</td>
                            </tr>
                        <tr>
                            <td>@Html.LabelFor(m => m.IsPublic)</td>
                            </tr>
                        <tr>
                            <td>@Html.LabelFor(m => m.IsShared)</td>
                            @*</tr>
                            @if (Model.IsValueType)
                            {
                            <tr>
                                @Html.LabelFor(m => m.MinValue)
                            </tr>
                                <tr>
                                    @Html.LabelFor(m => m.MaxValue)
                                </tr>
                            }
                        <tr></tr>
                            </tr>*@
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Html.EditorFor(m => m.Name)</td>
                                <td>@Html.EditorFor(m => m.Description)</td>
                                <td>@Html.DisplayFor(m => m.Url)</td>
                                <td>@Html.EditorFor(m => m.PollingInterval)</td>
                                <td>
                                    @if (Model.IsValueType)
                                    {
                                        <p>Value Type Sensor</p>
                                    }
                                    else
                                    {
                                        <p>Bool Type Sensor</p>
                                    }
                                </td>
                                <td>@Html.EditorFor(m => m.MeasurementType)</td>
                                <td> @Html.EditorFor(m => m.IsPublic) </td>
                                <td>@Html.EditorFor(m => m.IsShared)</td>

                                @if (Model.IsValueType)
                                {
                                    <td>
                                        @Html.EditorFor(m => m.MinValue)
                                    </td>
                                    <td>
                                        @Html.EditorFor(m => m.MaxValue)
                                    </td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
}
<div>
    <input type="submit" value="Save" />
</div>

@section scripts{
    @Scripts.Render("~/bundles/tables-js")
}
