@model IEnumerable<SensorApiData>

@Styles.Render("~/bundles/wizard-css")
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <!--      Wizard container        -->
            <div class="wizard-container">
                <div class="card wizard-card" data-color="azzure" id="wizard">
                    <!--        You can switch ' data-color="azzure" '  with one of the next bright colors: "blue", "green", "orange", "red"          -->
                    <div class="wizard-header">
                        <h3>
                            <b>REGISTER</b> YOUR SENSOR <br>
                            <small>Create any of the following types of sensor</small>
                        </h3>
                    </div>
                    <div class="">
                        <ul>
                            <li hidden="hidden"><a href="#sensor-type" data-toggle="tab">Sensor Type</a></li>
                            <li hidden="hidden"><a href="#sensor-data" data-toggle="tab">Fill Data</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane" id="sensor-type">

                            @foreach (SensorApiData sensor in Model)
                            {
                                <div class="box">
                                    <small class="fade-text">@sensor.Tag</small>
                                    <p>@sensor.Description</p>
                                    <p class="fade-text">Measurement type: @sensor.MeasureType</p>

                                    @Ajax.ActionLink("Select",
                                         "GetProperRegView",
                                         "Sensor",
                                         new
                                         {
                                             sensorId = sensor.Id,
                                             isValueType = sensor.IsValueType,
                                             measureType = sensor.MeasureType
                                         },
                                         new AjaxOptions
                                         {
                                             UpdateTargetId = "form-container",
                                             InsertionMode = InsertionMode.Replace,
                                             OnComplete = "nextPage"
                                         },
                                         new { @class = "btn ajax-call" })

                                </div>
                            }
                        </div>
                        <div class="tab-pane" id="sensor-data">

                            <div id="form-container"></div>

                        </div>
                        <div class="tab-pane" id="finalize">

                        </div>
                    </div>
                    <div class="wizard-footer">
                        <div class="pull-right">
                            <input type='button' hidden="hidden" class='btn btn-next btn-fill btn-info btn-wd btn-sm' name='next' value='Next' />
                            @*<input type='button' class='btn btn-finish btn-fill btn-info btn-wd btn-sm' name='finish' value='Finish' />*@
                        </div>
                        <div class="pull-left">
                            <input type='button' class='btn btn-previous btn-fill btn-default btn-wd btn-sm' name='previous' value='Previous' />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                }
            </div> <!-- wizard container -->
        </div>
    </div> <!-- row -->
</div> <!--  big container -->
@*https://ctrlq.org/code/19639-turn-div-clickable-link*@

@section scripts{

    <script>
        function nextPage() {
            $("input.btn-next").click()
        }
    </script>

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/wizard-js")
}